<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.Logging" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.Logging.Console" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.Logging.Debug" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.Logging.TraceSource" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.PlatformAbstractions" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.Primitives" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="NLog" version="4.4.0-beta5" targetFramework="net46" />
  <package id="NLog.Extensions.Logging" version="1.0.0-rc1-final-2016-03-11" targetFramework="net46" />
  <package id="System.Xml.XmlSerializer" version="4.0.10" targetFramework="net46" />
</packages>